<section class="page-section portfolio" id="lista">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Lista dos Produtos</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Items-->
      <% @products.each do |product| %>
        <div class="col-md-6 col-lg-4 mb-5">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal<%=product.id%>">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="<%=product.photo%>" alt="..." />
          </div>
        </div>
        <div class="portfolio-modal modal fade" id="portfolioModal<%=product.id%>" tabindex="-1" aria-labelledby="portfolioModal<%=product.id%>" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
              <div class="modal-body text-center pb-5">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <!-- Portfolio Modal - Title-->
                      <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%=product.name%></h2>
                      <!-- Icon Divider-->
                      <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                      </div>
                      <!-- Portfolio Modal - Image-->
                      <img class="img-fluid rounded mb-5" src="<%=product.photo%>" alt="..." />
                      <!-- Portfolio Modal - Text-->
                      <h3 class="mb-4">Valor: <%=product.value %></h3>
                      <p class="mb-4"><%=Payment.where(product_id: product.id).count%> amigos ja nos ajudaram a comprar esse produto! <br>
                        <%if (product.value - Payment.where(product_id: product.id).sum('amount')) > 0%>
                          Falta apenas <%=(product.value - Payment.where(product_id: product.id).sum('amount'))%> pra gente poder comprar o(a) <%=product.name%></p>
                      <%else%>
                        Conseguimos o valor total!!! Mas fique a vontade se quiser ajudar mais :)</p>
                    <%end%>
                    <a href="<%= new_product_payment_path(product)%>" class="btn btn-primary">
                      <i class="fas fa-gift"></i> <span> Enviar Pix</span>
                    </a>
                    <button class="btn btn-primary" data-bs-dismiss="modal">
                      <i class="fas fa-times fa-fw"></i> Fechar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <%= link_to 'New Product', new_product_path %>
</div>
</section>
